*{
    margin: 0;
    padding: 0;
}

h1{
    text-align: center;
    margin-top: 10px;
}

.content-grid{
    display: grid;
    grid-template-areas: 
    'Logo      Titulo     Titulo     Titulo     Titulo      Titulo'
    'Logo      Titulo     Titulo     Titulo     Titulo      Titulo'
    'Menu      Slide      Carrucel   Carrucel   Carrucel    CarruInfo'
    'Menu      Slide      Carrucel   Carrucel   Carrucel    CarruInfo'
    'Menu      Slide      Carrucel   Carrucel   Carrucel    CarruInfo'
    'Menu      Slide      Imagen     Video      Video       Video'
    'Menu      Slide      Imagen     Video      Video       Video'
    'Menu      Slide      Imagen     Video      Video       Video'
    'Derechos  Derechos   Derechos   Contacto   Redes       Redes'
    'Derechos  Derechos   Derechos   Contacto   Redes       Redes'
    ;/*cierre del template area*/
    gap: .2em;
    width: 600px;
    margin: 0 auto;
    height: 500px;
}


.contenido:nth-child(1){
    background: yellowgreen;
    grid-area: Logo;
}
.contenido:nth-child(2){
    background: rgb(255, 238, 0);
    grid-area: Titulo;
}
.contenido:nth-child(3){
    background: rgb(0, 255, 179);
    grid-area: Menu;
}
.contenido:nth-child(4){
    background: rgb(255, 0, 255);
    grid-area: Slide;
}
.contenido:nth-child(5){
    background: rgb(255, 136, 0);
    grid-area: Carrucel;
}
.contenido:nth-child(6){
    background: rgb(255, 0, 43);
    grid-area: CarruInfo;
}
.contenido:nth-child(7){
    background: rgb(0, 68, 255);
    grid-area: Imagen ;
}
.contenido:nth-child(8){
    background: rgb(91, 94, 102);
    grid-area:  Video ;
}
.contenido:nth-child(9){
    background: rgb(96, 117, 0);
    grid-area: Derechos;
}
.contenido:nth-child(10){
    background: rgb(189, 89, 202);
    grid-area: Contacto;
}
.contenido:nth-child(11){
    background: rgb(0, 88, 77);
    grid-area: Redes  ;
}
